body {
  background-color: #dee3df;
}
.home-cont {
  background-color: #dee3df;
  margin-left: 120px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.home-ttl {
  margin-bottom: 10px;
}

.order-card-list {
  margin-top: 0;
  max-height: 750px;
  overflow: hidden;
  overflow-y: scroll;
}

.order-list-admin {
  display: flex;
  flex-direction: column;
}

.order-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  width: 530px;
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin-bottom: 16px;
}

.order-table {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #353535;
}

.order-receiver {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #353535;
}

.order-id {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(53, 53, 53, 0.6);
}

.order-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: #f6744c;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.detail-cont {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 834px;
  height: 834px;
  width: 416px;
  padding: 0px 26px;
}

.detail-cont h1 {
  align-self: flex-start;
  margin-left: 17px;
}

.detail-header-lg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.selected-order {
  height: 350px;
  overflow: hidden;
  overflow-y: scroll;
}

.order-detail-list {
  display: flex;
  align-items: center;
}

.product-detail {
  margin: 0 20px;
}

.product-detail,
p {
  margin: 0;
}

.product-detail span {
  font-weight: bold;
}
.order-img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: 10px 10px 10px 0;
}

.check-btn {
  width: 384px;
  height: 48px;
  background: #dee3df;
  border: 1px solid #5a7360;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #5a7360;
  margin: 10px 0;
}

.price-detail-cashier {
  padding: 10px;
  width: 364px;
  background: #dee3df;
  border-radius: 20px;
  gap: 10px;
  margin: 15px 0;
}
.subtotal-detail {
  display: flex;
  justify-content: space-between;
}
.subtotal-detail p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 5px 5px;
}

.tax-detail {
  display: flex;
  justify-content: space-between;
}

.tax-detail p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 5px 5px;
}

.total-detail {
  display: flex;
  justify-content: space-between;
}

.total-detail p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin: 5px 5px;
}

.complete-btn {
  padding: 12px 32px;
  gap: 10px;
  background: #5a7360;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: white;
  width: 384px;
  height: 48px;
  margin: 10px 0 20px 0;
}
