.payment-cont {
  display: flex;
  flex-direction: column;
  background: #f7f8fa;
  height: 100vh;
  max-width: 360px;
  margin: 0 auto;
}

.payment-head {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  background-color: white;
}

.back-btn {
  margin: 15px;
}

.payment-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.method-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.method-btn {
  display: flex;
  align-items: center;
  width: 98%;
  height: 70px;
  background: white;
  border: none;
  margin: 5px 5px;
  color: black;
  font-size: 16px;
}

.method-btn p {
  margin: 0 5px;
}

.method-btn:focus {
  border: 1px #5a7360 solid;
}

.method-img {
  align-items: center;
  width: 68px;
  height: 50px;
  margin: 5px 10px;
  object-fit: cover;
}

.proceed-pay-btn {
  width: 300px;
  margin-top: auto;
  align-self: center;
  margin-bottom: 20px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background: #5a7360;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
