.Main {
  background-color: white;
  margin: 0;
  padding: 20px 0px 20px 5px;
  display: flex;
  flex-direction: column;
  height: max-content;
  overflow: hidden;
  max-width: 360px;
  margin: 0 auto;
}
.greet {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #5a7360;
  margin: 30px 10px 0px 10px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin: 0 10px 10px 10px;
}
.search {
  width: 328px;
  height: 48px;
  background: #f3f3f3;
  border-radius: 20px;
  border: none;
  list-style: none;
  margin: 0 10px 10px 10px;
}
input[type="text"]::placeholder {
  padding-left: 10px;
}
